{% extends 'adminboard/index.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">{% endblock %}
{%block content%}
 
<div class="container">
   
  <div class="row">
 
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Customers </h6>
 
      </div>
 
      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead>
 
          <tr>
            <th>Customer</th>
            <th>Product</th>
            <th>Quantity</th>  
            
          </tr>
        </thead>
        {% for signupascustomer in customers %}
        <tr>
          <td> {{signupascustomer.username}}</td>
          <td>{{signupascustomer.firstname}}</td>
          <td>{{signupascustomer.lastname}}</td>
          <td>{{signupascustomer.email}}</td>
          <td>{{signupascustomer.phone}}</td>
          <td>{{signupascustomer.address}}</td>
          <td>{{signupascustomer.password}}</td>
          <td><a class="btn btn-success btn-xs" href="#"><span class="glyphicon glyphicon-ok">update</span></a>
         <a class="btn btn-danger btn-xs" href="#"><span class="glyphicon glyphicon-trash">delete</span></a></td>
        </tr>
 
        {% endfor %}
      </table>
    </div>
 
  </div>
</div>

 {% endblock content %}