{% extends 'Home/base.html' %}
{% load static %}
{% block content %}
<section class="h-100 gradient-form" style="background: url({% static "images/background.png" %}) repeat;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
  
                  <div class="text-center">
                    <img src="{%static 'images/shoemandu.png'%}" style="width: 100px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Shoemandu</h4>
                  </div>
  
                  <form action="" method="POST" class="sign">
                    {% csrf_token %}
                    <h2 class="title">Login</h2>
                    {% for message in messages  %}
                      <p class= "createdmesseges">{{message}}</p>
                    {% endfor %}
                    <div class="input-field">
                      <i class="fas fa-user"></i>
                      <input type="text" name="username" placeholder="Username" required/>
                    </div>
                    <br>
                    <div class="input-field">
                      <i class="fas fa-lock"></i>
                      <input type="password" name="password" placeholder="Password" required/>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success pl-5 pr-5">Login</button>
                   
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">SHOE AT YOUR DOORSTEP</h4>
                  <img class="mb-12 pl-5" src="{%static 'images/delivery.jpg'%}" style="width: 185px;" alt="image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}